:root {
  --accent-color: #779b43;
  --main-color: #dff0e1;
  --text-color: #757575;
  --hover-color: rgba(122, 183, 129, 0.6);
  --attenuation-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 300ms;
}

/*  ------- BASIC STYLES ------- */
body {
  background-color: var(--main-color);
}
.container {
  max-width: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.self-photo {
  display: block;
  min-width: 270px;
}

.about {
  margin-top: 10px;
}
@media screen and (min-width: 450px) {
  .container {
    max-width: 580px;
  }
  .about__meta {
    display: flex;
  }
  .self-photo {
    max-width: 400px;
  }
  .about {
    display: block;
    margin-left: 10px;
    margin-top: 0;
  }
  .about__meta,
  .activitty__block,
  .contact__block {
    max-width: 600px;
    margin: 0 auto;
  }
}

.activity__item,
.contact__item {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  transition: background-color var(--transition-time)
    var(--attenuation-function);
}
.activity__item:hover,
.contact__item:hover {
  background-color: var(--hover-color);
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 800px;
  }
  .self-photo {
    min-width: 350px;
  }
}
.header {
  background-color: #ffffff;
  padding: 20px 0;
}

.hero,
.activity,
.footer {
  padding: 20px 0;
}

.titles {
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 20px;
}

.activity__link,
.contact__link {
  display: flex;
  font-size: 24px;
  color: var(--text-color);
  align-items: center;
  padding: 2px 0;
  margin: 5px 0;
}

.activity__icon {
  margin-left: auto;
  fill: currentColor;
}

.contact-item-icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo-head {
  text-align: center;
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px 0;
}

.logo-head:hover {
  background-color: var(--hover-color);
}
/*  ------- HEADER ------- */

/* .contact__position {
  display: flex;
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
  padding: 10px 0;
  align-items: center;
} */
/* .link {
  display: flex;
  margin: 0 auto;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
  padding: 10px 0;
  align-items: center;
} */
/* .adress-item-icon {
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
} */
/*  ------- PORTFOLIO ------- */
/* .my-works {
  margin-bottom: 30px;
  color: var(--accent-color);
  text-align: center;
} */

/* .works {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
  justify-content: center;
}

.work-img {
  width: 100%;
  height: auto;
}

.works__example {
  width: 450px;
  height: auto;
  margin-top: 15px;
  margin-left: 15px;
  /* outline: 1px solid red; */
/* overflow: hidden; */

/* box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 7px 7px 7px 7px;
}
@media screen and (min-width: 480px) {
  .works__example {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .works__example {
    flex-basis: calc((100% - 45px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .works__example {
    flex-basis: calc((100% - 60px) / 4);
  } */
/* }
.meta__title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #fff;
  color: var(--accent-color);
  border-radius: 0px 0px 4px 4px;
/* } */

/*  ------- FOOTER ------- */

/* .join-list {
  display: flex;
  justify-content: center;
}
.social-list-item + .social-list-item {
  margin-left: 15px;
}
.social-item-icon {
  fill: currentColor;
}
.social-item-link {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color var(--transition-time)
      var(--attenuation-function),
    color var(--transition-time) var(--attenuation-function);
}

.social-list-item > .social-item-link {
  color: #ffffff;
  background-color: rgba(138, 136, 136, 0.818);
}

.social-item-link:hover,
.social-item-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 50%;
}

.page-footer {
  padding: 15px 0;
} */
