:root {
  --accent-color: #779b43;
  --main-color: #dff0e1;
  --bg-color: rgba(255, 255, 255, 0.5);
  --text-color: #757575;
  --hover-color: rgba(122, 183, 129, 0.6);
  --attenuation-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 300ms;
}

/*  ------- BASIC STYLES ------- */
body {
  background-color: var(--main-color);
}
.container {
  max-width: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.self-photo {
  display: block;
  min-width: 270px;
}

.about {
  margin-top: 10px;
  overflow-y: hidden;
  color: var(--text-color);
}

.activity__item,
.contact__item {
  background-color: var(--bg-color);
  padding: 5px;
  margin: 10px 0;
  border-radius: 10px;
  min-width: 170px;

  transition: background-color var(--transition-time)
    var(--attenuation-function);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 7px 7px 7px 7px;
}
.activity__item:hover,
.contact__item:hover {
  background-color: var(--hover-color);
}

.hero,
.clients,
.activity,
.footer {
  padding: 20px 0;
}

.titles {
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 20px;
}

.activity__link,
.contact__link {
  display: flex;
  font-size: 20px;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  padding: 2px 0;
  margin: 5px 0;
}

.activity__icon {
  margin-left: auto;
  fill: currentColor;
}

.contact-item-icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo-head {
  text-align: center;
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px 0;
}

.logo-head:hover {
  background-color: var(--hover-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}
.clients__item {
  flex-basis: calc((100% - 30px) / 3);
  margin-left: 10px;
  padding: 5px;
  background-color: var(--bg-color);
  fill: #757575;
  color: #757575;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 7px 7px 7px 7px;
}

.clients__name {
  font-size: 16px;
}

.clients__icon {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 450px) {
  .container {
    max-width: 580px;
  }
  .about__meta {
    display: flex;
  }
  .self-photo {
    max-width: 400px;
  }
  .about {
    display: block;
    margin-left: 10px;
    margin-top: 0;
    padding: 10px;
  }
  .about__meta,
  .activitty__block,
  .contact__block {
    max-width: 600px;
    margin: 0 auto;
  }
  .clients__item {
    padding: 10px;
  }
  .clients__icon {
    width: 50px;
    height: 50px;
  }
  .clients__name {
    font-size: 20px;
  }
  .activity__link,
  .contact__link {
    padding: 8px;
    font-size: 24px;
  }
  .contact__item {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 800px;
  }
  .self-photo {
    min-width: 350px;
  }
  .clients__icon {
    width: 70px;
    height: 70px;
  }
  .clients__name {
    font-size: 24px;
  }
  .clients__item {
    padding: 20px;
  }
  .activity__link,
  .contact__link {
    padding: 12px;
    font-size: 28px;
  }
  .contact__item {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  background-color: #ffffff;
  padding: 20px 0;
}

.activity__list {
  display: none;
}

/*  ------- PORTFOLIO ------- */

.works {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
  justify-content: center;
}

.works__example {
  width: 450px;
  height: auto;
  margin-top: 15px;
  margin-left: 15px;
  outline: 2px solid var(--hover-color);
  overflow: hidden;

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 7px 7px 7px 7px;
}
@media screen and (min-width: 450px) {
  .works__example {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.portfolio {
  width: 300px;
  margin: 30px auto;

  justify-content: center;
  text-align: center;
}

.portfolio__link {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  display: flex;
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 10px 10px;
  color: var(--text-color);
  transition: background-color var(--transition-time)
    var(--attenuation-function);
}

.activity__link,
.contact__link {
  display: flex;
  font-size: 20px;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  padding: 2px 0;
  margin: 5px 0;
}
.portfolio__link:hover {
  background-color: var(--hover-color);
}
